.clear-checkbox-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 9px 5px;

    border: none;

    background-color: transparent;

    outline: none;

    opacity: 1;

    transition: all 0.35s ease;
}

.clear-checkbox-button-hidden {
    opacity: 0;

    user-select: none;
    pointer-events: none;
}

.clear-checkbox-button-text {
    color: var(--color-blue-primary);
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;

    border-top: 1px dashed transparent;
    border-bottom: 1px dashed transparent;

    background-color: transparent;

    cursor: pointer;

    transition: all 0.35s ease;
}

.clear-checkbox-button-text:hover {
    color: var(--color-blue-dark);

    border-bottom: 1px dashed var(--color-blue-primary);
}
