@keyframes goLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% - 8px));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes goRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100% + 8px));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(100% + 8px));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes goUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(-100% - 8px));
  }
  100% {
    transform: translateY(0);
  }
}

.template {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  width: 58px;
  height: 58px;

  transform: scale(1);
}

.circle {
  width: 14px;
  height: 14px;

  border-radius: 50%;
}

.square {
  width: 14px;
  height: 14px;

  background-color: var(--color-blue-primary);
}

.blue {
  background-color: var(--color-blue-primary);
}

.dark {
  background-color: var(--color-blue-dark);
}

.grey {
  background-color: var(--color-grey);
}

.greyDark {
  background-color: var(--color-grey-primary);
}

.white {
  background-color: #fff;
}

.goLeftAnimation {
  animation: goLeft 2.2s ease infinite;
}

.goRightAnimation {
  animation: goRight 2.2s ease infinite;
}

.goDownAnimation {
  animation: goDown 2.2s ease infinite;
}

.goUpAnimation {
  animation: goUp 2.2s ease infinite;
}

.noFlick {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
