.checkbox {
    border: 1px solid var(--color-grey-primary);

    background-color: #fff;
}

.checkbox:hover {
    border: 1px solid var(--color-blue-primary);
}

.checkbox-checked {
    border: 1px solid var(--color-blue-primary);

    background-color: var(--color-blue-primary);
}
