.icon-controller svg > path,
.icon-controller svg > rect {
    fill: var(--color-blue-primary);
}

.icon-controller:hover svg > path,
.icon-controller:hover svg > rect {
    fill: #fff;
}

.icon-controller:active svg > path,
.icon-controller:active svg > rect {
    fill: var(--color-blue-primary);
}

.icon-controller svg > g > path,
.icon-controller svg > g > rect,
.icon-controller svg > circle {
    stroke: var(--color-blue-primary);
}

.icon-controller:hover svg > g > path,
.icon-controller:hover svg > g > rect,
.icon-controller:hover svg > circle {
    stroke: #fff;
}

.icon-controller:active svg > g > path,
.icon-controller:active svg > g > rect,
.icon-controller:active svg > circle {
    stroke: var(--color-blue-primary);
}
