.form {
  width: min-content;
  height: min-content;
}

.imageLoaderWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 155px;
  height: 155px;
  margin-bottom: 2px;

  border: 1px solid var(--color-grey-primary);
  border-radius: 4px;

  opacity: 1;
}

.imageLoaderWrapperDisabled {
  opacity: 0.5;
}

.imageLoaderTitle {
  padding-left: 8px;

  color: var(--color-grey-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
}

.crossButton {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 5;

  display: block;

  width: 10px;
  height: 10px;

  border: none;

  background-color: transparent;
}

.crossButton:hover .cross path {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12px;
  height: 12px;

  cursor: pointer;

  fill: var(--color-red-dark);
}

.crossButtonHidden {
  display: none;
}

.cross {
  width: 10px;
  height: 10px;
}

.cross path {
  fill: var(--color-navy-dark);
}
.input {
  width: 0;
  height: 0;
}
.imageBlock {
  display: block;
}

.imageBlockHidden {
  display: none;
}
.loaderBlock {
  display: block;
}

.loaderBlockHidden {
  display: none;
}

.imageWrapper {
  position: relative;

  opacity: 1;
}

.imageWrapperDisabled {
  opacity: 0.5;
}

.image {
  margin: 0;
  padding: 0;

  border: 1px solid var(--color-grey-primary);
  border-radius: 4px;
}
