.toggle-button {
    display: flex;
    align-items: center;

    color: var(--color-blue-light);
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;

    border: none;

    background-color: transparent;

    outline: none;
    text-decoration-line: underline;
}

.toggle-button:hover {
    color: var(--color-blue-primary);

    cursor: pointer;
}
