.button {
  color: #fff;

  border: 1px solid var(--color-red-primary);

  background-color: var(--color-red-primary);
}

.button:hover {
  border: 1px solid var(--color-red-dark);

  background-color: var(--color-red-darker);
}

.button:active {
  background-color: var(--color-red-dark);
}

.buttonActive {
}
