.container {

}

.title {
    color: #ffffff;
}

.functionalButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ffffff;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.link {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
}

.linkActive {
    font-weight: 700 !important;
    line-height: 23px;
    color: #1E632F !important;
    text-decoration-line: underline !important;
}

.pageContent {
    padding: 10px;
    background-color: #ffffff;
}