.icon-controller svg > path,
.icon-controller svg > rect {
    fill: var(--color-grey-darker);
}

.icon-controller:hover svg > path,
.icon-controller:hover svg > rect {
    fill: var(--color-wiki-blue);
}

.icon-controller:active svg > path,
.icon-controller:active svg > rect {
    fill: var(--color-wiki-blue);
}

.icon-controller svg > g > path,
.icon-controller svg > g > rect,
.icon-controller svg > circle {
    stroke: var(--color-grey-darker);
}

.icon-controller:hover svg > g > path,
.icon-controller:hover svg > g > rect,
.icon-controller:hover svg > circle {
    stroke: var(--color-wiki-blue);
}

.icon-controller:active svg > g > path,
.icon-controller:active svg > g > rect,
.icon-controller:active svg > circle {
    stroke: var(--color-wiki-blue);
}
