.button {
  color: #fff;

  border: 1px solid var(--color-blue-primary);

  background-color: var(--color-blue-primary);
}

.button:hover {
  border: 1px solid var(--color-blue-dark);

  background-color: var(--color-blue-dark);
}

.button:active {
  color: var(--color-grey);

  border: 1px solid var(--color-blue-dark);

  background-color: var(--color-blue-dark);
}

.buttonActive {
}
