.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 613px;
    width: 100%;
}

.buttonFilter:hover svg path {
    fill: #32E6FF;
}

.input::-ms-clear {
    display: none;
}

.buttonSearch {
    width: 150px;
    height: 36px;
    text-align: center;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #23273A;
    background: #ffffff;
    border: none;
    border-radius: 6px;
}

.input {
    padding-left: 16px;
    width: 100%;
    height: 36px;
    align-items: center;
    margin-right: 26px;
    outline: none;
    border: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    background: #3E4459;
    border-radius: 5px;
    color: #ffffff;

}

.buttonFilter {
    position: absolute;
    right: 158px;
    top: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.input::placeholder {
    color: #C4C4C4;
}